/* Global styles */
body {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f8f8;
  margin: 2rem 1.2rem;
  padding: 0;
}

a {
  /* color: #1772d0; */
  color: #000;
  border-bottom: 1px dotted #000;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:focus {
  color: #f09228;
  text-decoration: none;
}

/* a:visited {
  color: darkgoldenrod;
} */

p {
  margin: 0 0 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Specific styles for elements */

#name {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-top: 50px;
  /* adjust as needed */
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px #666;
  /* add a subtle text shadow effect */
}

#name span {
  font-size: 4rem;
  /* adjust as needed */
}

#profile-pic {
  display: flex;
  margin: auto 20px;
  width: 30%;
  height: auto;
  float: right;
}

sup {
  font-size: 0.6em;
  vertical-align: baseline;
}

span.highlight {
  background-color: #ffffd0;
}

/* Styles for the header */
header {
  margin-bottom: 3rem;
  text-align: center;
}

.section {
  max-width: 960px;
  margin: 2rem auto;
}

.paper-title,
.activity-title {
  /* font-size: 1.15rem; */
  font-weight: bold;
  border-bottom: 1px dotted #000;
  color: #000;
}

sm {
  color: rgb(85, 85, 85);
}

.paper-links a:link {
  /* color: aqua; */
  font-weight: normal;
}

footer {
  text-align: right;
  font-size: 0.8rem;
  margin-top: 3rem;
}

@media screen and (max-width: 768px) {

  body {
    font-size: 16px;
  }

  #profile-pic {
    margin: 30px auto;
    width: 60%;
    height: auto;
    float: none;
  }

}